.karsTable{
    font-size: 14px;
}

.outputFormat{
    /* min-width: 185px; */
}

/* .tableCheckboxes input{
    margin-top: .9rem;
} */

.karsTable td, .table th {
    vertical-align: center !important;
    border-top: 1px solid #dee2e6;
}

.karTableName{
    max-width: 200px !important;
    line-break:anywhere;
}

.karTablePublisher{
    max-width: 220px !important;
    line-break:anywhere;
}

.karCheckBoxes{
    text-align: center;
    vertical-align: middle !important;
}

.select-drop-down{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5H7z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 25px;
    cursor: pointer;
}