@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.App {
  min-height: 100vh;
  position: relative;
}

.main {
  /* background: url('assets/images/bg_companies.jpg') center -96px no-repeat; */
  background-size: 100% 460px;
  padding-top: 4px;
  padding-bottom: 90px;
}

#root {
  min-height: 100vh;
  position: relative;
}

.main .container {
  margin-top: 116px;
  padding-top: 15px;
  border-radius: 6px;
  box-shadow: 0 8px 6px -6px #ccc;
  min-height: 500px;
}

.react-notification-root{
  position: unset !important;
}

.form-group{
  margin-bottom: 1rem;
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #3498db; 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

:root {
  --primary-color: #0d6efd;
}

.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {
  background-color:var(--primary-color);
  border-color: var(--primary-color);
}

.form-check-input.is-valid:focus, .was-validated .form-check-input:valid:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label {
  color: #212529;
}

.form-check-input.is-valid, .was-validated .form-check-input:valid {
  border-color: #dee2e6;
}

.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-control.is-valid, .was-validated .form-control:valid {
  border-color: #dee2e6;
  background-image: none;
}